// Colours
$bodyColour: #46412A;
$headingColour: darken($bodyColour, 5%);
$linkColour: #416d0031;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fff;

$backgroundColour: #DDDDFF;
$codeBackgroundColour: darken($backgroundColour, 5%);

p::selection {
    background: #A2A2FF;
    color: #28287e;
  }
a::selection {
    background: #A2A2FF;
    color: #28287e;
}
h1::selection {
    background: #A2A2FF;
    color: #28287e;
}
time::selection {
    background: #A2A2FF;
    color: #28287e;
}
span::selection {
    background: #A2A2FF;
    color: #28287e;
}
div::selection {
    background: #A2A2FF;
    color: #28287e;
}
img::selection {
    background: #A2A2FF;
    color: #28287e;
}
small.small::selection {
    background: #A2A2FF;
    color: #28287e;
}


// Colours
//$bodyColour: #46412A;
//$headingColour: darken($bodyColour, 5%);
//$linkColour: #5B5BFF;
//$hoverColour: darken($linkColour, 10%);
//$captionColour: lighten($headingColour, 40%);
//$white: #fff;

//$backgroundColour: #ffefc8;
//$codeBackgroundColour: darken($backgroundColour, 5%);

//$backgroundColour: #E6FFC8;
//$codeBackgroundColour: #CFFF95;
//$linkColour: #5B5BFF;
