// Colours
$bodyColour: #46412A;
$headingColour: darken($bodyColour, 5%);
$linkColour: #5B5BFF;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fff;

$backgroundColour: #E6FFC8;
$codeBackgroundColour: #CFFF95;

p::selection {
    background: #A2A2FF;
    color: #28287e;
  }
a::selection {
    background: #A2A2FF;
    color: #28287e;
}
h1::selection {
    background: #A2A2FF;
    color: #28287e;
}
nav.nav--paginator::selection {
    background: #A2A2FF;
    color: #28287e;
}
small.post-meta::selection {
    background: #A2A2FF;
    color: #28287e;
}


// Colours
//$bodyColour: #46412A;
//$headingColour: darken($bodyColour, 5%);
//$linkColour: #5B5BFF;
//$hoverColour: darken($linkColour, 10%);
//$captionColour: lighten($headingColour, 40%);
//$white: #fff;

//$backgroundColour: #ffefc8;
//$codeBackgroundColour: darken($backgroundColour, 5%);
